html {
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
  box-sizing: border-box;
  line-height: 2rem;
}

*, *:before, *:after, {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin-bottom: 1rem;
}

h4, h5, h6 {
  margin-bottom: .6rem;
}

h1 {
  font-size: 2.2rem;
  line-height: 2.6rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

h3 {
  font-size: 1.4rem;  
  line-height: 1.8rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.2rem;
}

h5 {
  font-size: .6rem;
  line-height: .8rem;
}

h6 {
  font-size: .4rem; 
  line-height: .6rem; 
}

p, ul, ol {
  line-height: 2rem;
}

ul, ul {
  margin: 0;
}

p {
  margin: 0 0 2rem;
}

span {
  line-height: 2rem;
}

input[type="text"], input[type="email"], input[type="password"] {
  min-width: 50px;
}

code {
  font-size: .8rem;
  font-weight: bold;
  padding: 2px 4px;
  background-color: #eee;
  border-radius: 3px;
}

::-webkit-input-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder{
  color: inherit;
}

::placeholder {
  color: inherit;
}